# Database Config
MONGODB_URI=mongodb://127.0.0.1:27017/tradeez

# Security Config
JWT_SECRET=supersecretjwtkey_tradeez123
JWT_EXPIRE=30d

# Stock API Config (Optional - will fall back to Mock simulation if empty or invalid)
STOCK_API_KEY=
STOCK_API_PROVIDER=finnhub # or alphavantage

# Server Config
PORT=5000
NODE_ENV=development
